<div class="pet-list-container">
    <div class="hero-section">
        <div class="hero-content">
            <h1>{{ 'petOfTheDayTitle' | translate }}</h1>
            <p>{{ 'petOfTheDaySubtitle' | translate }}</p>
            <button (click)="goToDetail(petOfTheDay?.id!)" [attr.data-pet-name]="petOfTheDay?.name">
                {{ 'meetNowBtn' | translate }}
            </button>
        </div>
    </div>

    <div class="container">
        @if (isLoading) {
        <div class="loading">
            <img src="assets/loading.png" [alt]="'loadingAlt' | translate" class="loading-img">
        </div>
        } @else if (pets.length > 0) {
        <div class="pet-grid">
            @for (pet of paginatedPets; track pet.id) {
            <app-pet-card [pet]="pet" (click)="goToDetail(pet.id)"></app-pet-card>
            }
        </div>

        <div class="pagination">
            <button class="page-btn prev" (click)="prevPage()" [disabled]="!paginationService.canGoPrev()">
                {{ 'prevBtn' | translate }}
            </button>

            @for (page of paginationService.pages(); track page) {
            <button class="page-btn" [class.active]="paginationService.currentPage() === page" (click)="goToPage(page)">
                {{ page }}
            </button>
            }

            <button class="page-btn next" (click)="nextPage()" [disabled]="!paginationService.canGoNext()">
                {{ 'nextBtn' | translate }}
            </button>
        </div>
        } @else {
        <div class="no-results">
            <img src="assets/no-found.png" [alt]="'noPetsFoundAlt' | translate">
        </div>
        }
    </div>

</div>